doctype html
html
  head
    title How old are your ears?
    link rel="stylesheet" type="text/css" href="main.css"

  body
    .dometer
      .gauge
        .needle
        .spinner
        ul.levels

    script src="main.js"
